{% extends 'web/base.html' %}
{% load static %}

{% block main_content %}

    <div class="mainAbout">
        <div class="main-title">
            <h2 class="title">
                Car Service
            </h2>
            <p class="subtitle">
                Stefan Kodev
            </p>
        </div>
        <div class="places">
        <div class="card">
            <h2 class="card-title">
                About us
            </h2>
            <p class="card-p">
                We are a small car service capable of fixing your car problems! If you need help with your vechicle be sure to contact us!
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Location
            </h2>
            <p class="card-p">
                We are based in Bulgaria! We have a bunch of locations in the country! If you need help contact us!
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Check our prices!
            </h2>
            <p class="card-p">
                Check our prices and register you problem today!
            </p>
            <a class="card-btn" href="{% url 'price page' %}">
                Check Prices!
            </a>

            <!--FROM THIS POINT ON THERE WILL BE ALL OF THE AVAILABLE MECHANICS PRINTED IN A CARD EACH-->
        </div>

            <div class="check_registered_cars_customer">
        <h2>Our List of Mechanics</h2>
        {% if mechanics %}
            <ul class="unassigned-cars-list">
                {% for mechanic in page_obj %}
                    <li class="unassigned-car">
                        {{ mechanic.first_name }} {{ mechanic.last_name }} - {{ mechanic.email }}
                        <div class="btn-group">
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
 <span class="step-links">
 {% if page_obj.has_previous %}
 <a href="?page=1">&laquo; first</a>
 <a href="?page={{ page_obj.previous_page_number }}">previous</a>
 {% endif %}
 <span class="current">
 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}.
 </span>
 {% if page_obj.has_next %}
 <a href="?page={{ page_obj.next_page_number }}">next</a>
 <a href="?page={{ page_obj.paginator.num_pages }}">last
&raquo;</a>
 {% endif %}
 </span>
 </div>
        {% else %}
            <p>No registered mechanics.</p>
        {% endif %}
            </div>
        </div>
    </div>

{% endblock %}