{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefan Kodev Car Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <!--NAVIGATION-->
    <div class="header">
        <section class="hero">
<!--             <img src="images/landing-photo.jpg" alt="backgroung img" class="background"> -->
<div class="wrapper">
    <h2>Car Service</h2>
    <ul class="navbar">
      <li><a href="{% url 'home page' %}">HOME</a></li>
      <li><a href="{% url 'about page' %}">ABOUT</a></li>
      <li><a href="{% url 'price page' %}">CHECK PRICES</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'account details page' %}">Details</a></li>
    {% endif %}

      {% if request.user.is_authenticated %}
            {% if not request.user.is_mechanic %}
            <!--If user is signed in as client-->
            <li class="right"><a href="{% url 'add car' %}">Register Car</a></li>
            <li class="right"><a href="{% url 'registered cars' %}">Check Registered Cars</a></li>
            <!--End of client user-->
            {% else %}
        
            <!--If user is signed in Mechanic-->
            <li class="right"><a href="{% url 'cars for service' %}">Check Registered Cars</a></li>
            <li class="right"><a href="{% url 'check accepted cars' %}">Check Accepted Cars</a></li>


            {% endif %}

        {% else %}
      <!--If user is not signed in-->
      <li class="right"><a href="{% url 'register user' %}">Register</a></li>
      <li class="right"><a href="{% url 'login user' %}">Log In</a></li>
      <!--End of not signed in user-->
        {% endif %}

    </ul>
  </div>
        </section>
    </div>
    <!--END OF NAVIGATION-->




    <!--THIS IS WHERE THE MAIN BLOCK-->
    {% block main_content %}
    {% endblock %}
    <!--END OF MAIN BLOCK-->


    <!--FOOTER-->
    <div class="footer">
        <h2 class="title">
            Car Service
        </h2>
        <h2>
            &copy Stefan Kodev Service Project
        </h2>
        <ul class="ft-list" role="list">
            <li><a href="{% url 'home page' %}">Home</a></li>
            <li><a href="{% url 'about page' %}">About</a></li>
            <li><a href="{% url 'price page' %}">Check Prices</a></li>
        </ul>
        <div class="followus">
        <p class="follow">
            Follow us on
        </p>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
    </div>
    </div>
    <!--END OF FOOTER-->
</body>
</html>