{% extends 'web/base.html' %}
{% load static %}

{% block main_content %}

       <div class="mainAbout">
        <div class="main-title">
            <h2 class="title">
                Pricing
            </h2>
            <p class="subtitle">
                The best prices!
            </p>
        </div>
        <div class="places">
        <div class="card">
            <h2 class="card-title">
                Wheel Balance
            </h2>
            <p class="card-p">
                $40.00
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Brake Reline
            </h2>
            <p class="card-p">
                %615.00
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Change Oil
            </h2>
            <p class="card-p">
                $37.00
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Turn Drums
            </h2>
            <p class="card-p">
                $79.50
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Wheel Alignment
            </h2>
            <p class="card-p">
                $58.75
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Diagnostics
            </h2>
            <p class="card-p">
                $99.95
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Electronic Turn-ip
            </h2>
            <p class="card-p">
                $89.95
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Emission test
            </h2>
            <p class="card-p">
                $45.99
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                A/C/ Service
            </h2>
            <p class="card-p">
                $68.50
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                State Inspection
            </h2>
            <p class="card-p">
                $58.75
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Radiator Reverse Flush
            </h2>
            <p class="card-p">
                $199.95
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Labor
            </h2>
            <p class="card-p">
                $75.00
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Starters
            </h2>
            <p class="card-p">
                $210.99
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Tires
            </h2>
            <p class="card-p">
                $130.50
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">
                Tire Mount and Balance
            </h2>
            <p class="card-p">
                $50.00
            </p>
        </div>
    </div>
               <div class="main-title">
            <a class="card-btn-register" href="{% url 'add car' %}">
                Register Car Now!
            </a>
        </div>

{% endblock %}